*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    color: white;
    background: linear-gradient(to bottom, #012A4A 10%, #2C7DA0 50%, #012A4A );

    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
    width: 100%;
    margin: 0 auto;
    padding: 25px 35px 10px;

    display: flex;
    align-items: center;
}

#logo {
    width: 75px;
}

.posicao {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: auto; /* ← empurra o botão e o h1 para a direita */
}

.voltar {
    width: 45px;
    height: 45px;
    border-radius: 50%;

    background: rgba(255,255,255,0.15);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-size: 20px;
}

header h1 {
    font-size: 22px;
}
/* ENDEREÇO */

.endereco{
    width: 100%;
    max-width: 900px;
    margin: 5px auto 0;
    padding: 0 35px;

    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 11px;
    font-weight: bold;
}

.linha{
    width: 95%;
    height: 4px;
    margin: 10px auto 35px;

    border: none;
    border-radius: 10px;

    background: rgba(255,255,255,0.35);
}

/* CONTEÚDO */

main{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

    flex: 1;

    padding: 0 35px;

    display: flex;
    flex-direction: column;
}

.aviso-carrinho{
    width: 100%;
    height: 45px;

    border-radius: 8px;
    background: rgba(255,255,255,0.25);
    box-shadow: 0 3px 5px rgba(0,0,0,0.25);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    font-weight: bold;
}

.adicionar{
    width: 100%;
    max-width: 430px;
    height: 45px;

    margin: auto auto 28px;

    border: none;
    border-radius: 25px;

    background: #8d8167;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0,0,0,0.35);
}

.adicionar i{
    font-size: 20px;
}

/* RESUMO */

.resumo{
    width: 100%;
    max-width: 470px;
    margin: 0 auto;

    padding: 25px;
    
    
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);

    
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.frete,
.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frete{
    font-size: 11px;
}

.total h2{
    font-size: 22px;
}

.comprar{
    width: 100%;
    height: 55px;

    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 28px;

    background:  rgba(255,255,255,0.15);

    color: white;

    font-size: 28px;
    font-weight: bold;

    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.35);
}
/* ===== FOOTER ===== */
 
footer{
    margin-top: 40px;
    padding: 20px 40px;
    border-radius: 0 0 20px 20px;
    gap: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
 
.footer-menu{
    flex: 2;
    margin: 0 50px;
}

.footer-menu ul{

    width: 100%;
    list-style: none;
    padding: 0;
}
 
.footer-menu li{
    border-bottom: 1px solid rgba(255,255,255,0.15);
    padding: 4px 0;
    width: 100%;
}
 
.footer-menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;

    display: block;
    font-size: 18px;
}
 
.footer-menu a:hover{
    color: #89C2D9;
}

.redes{
    background: rgba(255,255,255,0.1);
    display: flex;
    gap: 20px;
    padding: 20px 25px;
    border-radius: 20px;
}
 
.redes a{
    width: 75px;
    height: 75px;
 
    background: white;
    color: #012A4A;
 
    border-radius: 70%;
 
    display: flex;
    justify-content: center;
    align-items: center;
 
    text-decoration: none;
    font-size: 30px;
}

/* CELULAR */

@media(max-width: 768px){
    header{
        padding: 18px 20px 8px;
    }

    #logo{
        width: 65px;
    }

    .voltar{
        width: 38px;
        height: 38px;
        font-size: 18px;
    }

    header h1{
        font-size: 18px;
    }

    .endereco{
        padding: 0 20px;
        font-size: 8px;
    }

    .linha{
        width: calc(100% - 40px);
        margin-bottom: 25px;
    }

    main{
        padding: 0 20px;
    }

    .aviso-carrinho{
        height: 36px;
        font-size: 16px;
    }

    .adicionar{
        max-width: 100%;
        height: 40px;
        margin-bottom: 25px;

        font-size: 16px;
        gap: 35px;
    }

    .resumo{
        max-width: 100%;
        padding: 20px;
    }

    .total h2{
        font-size: 18px;
    }

    .comprar{
        height: 45px;
        font-size: 24px;
    }
}