
:root{
    --cor-borda-do-site: #012A4A;
    --cor-fundo: #2C7DA0;
    --cor-texto: #fff;
    --cor-borda-do-vidro: rgba(255, 255, 255, 0.18);
    --cor-vidro: rgba(31, 38, 135, 0.37);
}
/*=====| ESTILO BASE DO BODY |=====*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:  var(--cor-texto);
}
body {
    background-color: var(--cor-fundo);
    
}
header {
    background-color: var(--cor-borda-do-site);
    
    padding: 20px 0;
}
footer {
    background-color: var(--cor-borda-do-site);
    padding: 20px 0;
    position: relative;
    
}
main{
    
    width: 100%;
    place-items: center;
    background: linear-gradient(to bottom, var(--cor-borda-do-site), var(--cor-fundo), var(--cor-borda-do-site));
}
/*===================================*/

/*=====| ESTILO DAS INFORMAÇÕES |=====*/

#logo{
    width: 10%;
    height: auto;
    display: block;
    margin: auto;
}
.linha{
    border: none;
  height: 4px;
  border-radius: 10px;
  background: var(--cor-borda-do-vidro);
  margin-top: 12px;
}
section{
    font-family: molengo, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px;
    width: 400px;
    border-radius: 40%;
    background-color: var(--cor-borda-do-site);
    
}
.efeito-vidro{
    background: var(--cor-borda-do-vidro);
    box-shadow: 0 8px 32px 0 var(--cor-vidro);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid var(--cor-borda-do-vidro);
}
input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    
    border-radius: 5px;
}

 #formRedesSociais, #enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 20%;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px;
    width: 400px;
    border-radius: 40%;
   
    
}
@media (max-width: 768px) {

}
